<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">What is this for a website?</h3>
    <ul>
      <li>Hey there!! I'm an archive plaecholder. Welcome to this old abode!  </li>
    </ul>
<!-- <h3 class="mb2">Here's how <a href='http://theremotelab.com' target='_blank'>TRL</a> help organizations in their DevOps journey:</h3> -->
   <ul>
     <li>If you are bored, please click around. I'm sure you will find something interesting. ;)</li>

   </ul>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>

